*{
  font-family: Tahoma;
  color-scheme: dark;
  color: orange;
}

.tt{
  width: 100%;
}

h2{
  font-size:large;
  text-align: justify;
}

div{
  /* hola */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-top: 5%
}

input{
  margin-right: 10px;
  margin-left: 10px;
}

#CampoBusqueda{
  margin-right: 10px;
  margin-left: 10px;
}

footer{
  margin-top: 75%;
  text-align: center;
}