main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingreso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingreso h1{
    padding: 15px;
    margin-top: 100px;
}

#actor{
    font-size: 18px;
    height: 30px;
    margin-right: 10px;
}

#botonBuscar{
    font-size: 1em;
    width: 120px;
    height: 30px;
    border-radius: 5%;
    border-width: 3px;
}

#botonBuscar:hover{
    background-color: rgb(220, 53, 69);
}

.respuesta{
    width: 80%;
    display: flex;
    margin-top: 40px;
    padding: 15px;
    border: 2px black solid;
    box-shadow: 5px 10px 10px 4px grey;
    background-color: rgba(255, 0, 0, 0.1)
    
}


.foto{
    width: 25vw;
    height: auto;
    margin: 10px;
    align-content: center;
}

.foto img{
    margin: 0;
    width: 100%;
}

.bio{
    width: 45vw;
    height: 50vh;
    margin: 10px;
    padding: 0 10px;
    font-size: 1rem
}

.bio h2{
    margin-bottom: 15px;
}

.bio div{
    height: 80%;
    padding-right: 20px;
    overflow: auto;
}

.film{
    width: 30vw;
    height: 50vh;
    margin: 10px;
    overflow: auto;  
    font-size: 1em;  
}

.film h2{
    margin-bottom: 15px;
}

.film div{
    height: 80%;
    padding-right: 20px;
    overflow: auto;
}

.film a{
    color: black;
    text-decoration: none;
}

.film a:hover{
    color: darkred;
    font-weight: bold;
    text-shadow: 2px;
}

@media (max-width: 760px) {
    .respuesta{
        flex-direction: column;
    }
    .bio{
        width: 73vw;
        height: 50vh;
        margin: 5px;
        padding: 0 5px;
        font-size: 0.8rem;
    }
    .encabezado{
        font-size: 1.8rem;
    }        
}
