main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indiceAlfabetico{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    top: 0;
    gap: 5px;
    width: 100%;
    margin: 10px 0 20px 0;
    background-color: black;
    border: 1px solid grey;
    box-shadow: 5px 4px 20px 0 black;
    padding: 2px;
}

.indiceAlfabetico a{
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}

.indiceAlfabetico a:hover{
    color: black;
    background-color: rgb(220, 53, 69);
    font-weight: bold;
}

.botonIndice{
    width: auto;
    height: auto;
    padding: 6px;
    background-color: black;
    border: solid 2px rgb(220, 53, 69);
    box-shadow: 5px 4px 20px 0 black;
    position: fixed;
    bottom: 10vh;
    right: 10px;    
}

.botonIndice a{
    color: rgb(220, 53, 69);
    text-decoration-line: none;
    text-align: right;
    font-size: small;
    font-weight: bold;
}

.nombresPeliculas{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    padding: 20px;
    margin: 10px 30% 30px 30%;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 2px gray;
    border-radius: 8px;
    box-shadow: 5px 4px 20px 0 black;
}

.nombresPeliculas h2{
    margin-left: 20px 0;
    border-bottom: 2px solid black;
}

.nombresPeliculas ul{
    list-style: none;
    padding: 20px;
}

.nombresPeliculas li{
    color: black;
    margin-left: 40px;
    padding: 8px 0 0 0 ;
}

.nombresPeliculas a{
    color: black;
    text-decoration: none;
}

.nombresPeliculas a:hover{
    color: darkred;
    font-weight: bold;
    text-shadow: 2px;
}
